[Unit]
Description=Do It Yourself Home Automation Asset Monitor
After=multi-user.target
[Service]
Type=idle
ExecStart=/usr/bin/python3 /usr/local/asset/asset.py --mqtt chuck --location diy/upper/study
[Install]
WantedBy=multi-user.target
